.container {
  margin-left: 0px;
}

.title {
  font-weight: 600;
}

.row {
  margin-bottom: 5px;
}

a {
  margin-bottom: 16px;
}

label {
  font-weight: 700;
}

select {
  max-width: 200px;
  display: inline-block;
  margin-left: 10px;
}

.sortable {
  cursor: pointer;
  padding: 2px;
  &:hover {
    background-color: lightgrey;
  }
}
