<div class="container">

  <a class="btn btn-primary btn-sm">
    Add Contact
  </a>

  <div class="row title">
    <div class="col col-6">
      Filter by name:
      <input type="text" [(ngModel)]='nameFilter' placeholder="">
    </div>
    <div class="col col-6">
      Filter by department:
      <select class="form-control" id="department" [(ngModel)]="departmentFilter">
        <option></option>
        <option *ngFor="let dept of departments">{{dept}}</option>
      </select>
    </div>
  </div>
  <br />

  <div class="row title">
    <div class="col col-3">
      First Name:
    </div>
    <div class="col col-3">
      <span class="sortable" (click)="sort()">Last Name: </span>
      <span class="oi oi-arrow-thick-top" *ngIf="sortDirection === 'asc'"></span>
      <span class="oi oi-arrow-thick-bottom" *ngIf="sortDirection === 'desc'"></span>
      <small *ngIf="sortDirection === ''">(sortable)</small>
    </div>
    <div class="col col-2">
      Dept:
    </div>
    <div class="col col-2">
      Phone:
    </div>
    <div class="col col-1">
    </div>
  </div>

  <div *ngFor=' let contact of filteredContacts; let i = index '>
    <contact-detail [contact]="contact" [index]="i" (delete)="deleteContact($event)" [preventContactDeletion]="disableDeleteButton()"></contact-detail>
  </div>

</div>